body {
  margin-top: 0px;
  margin-left: 0px;
  background-color: #E0AFA0;
  font-family: "Inter", sans-serif;
}

.sidebar {
  height: 100vh;
  max-width: 200px;
  background-color: #8A817C;
}

.sidebar-nav {
  color: #F4F3EE;
  display: block;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
}

.sidebar-nav:hover {
  background-color: #BCB8B1
}