body {
  background-color: #343A40;
  font-family: "Inter", sans-serif;
}

#time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.exit {
  color: #343A40;
  background-color: #F8F9FA;
  align-self: flex-end;
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 100px;
  border-style: none;
  height: 43px;
  width: 43px;
  font-weight: 650;
  font-size: 30px;
}

.timer-display {
  display: flex;
  justify-content: center;
}

.digit {
  color: #F8F9FA;
  font-weight: 600;
  font-size: 140px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}

#start {
  color: #F8F9FA;
}

#pause {
  color: #F8F9FA;
}

#finish {
  color: #F8F9FA;
}