body {
  background-color: #343A40;
  font-family: "Inter", sans-serif;
}

#time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.exit {
  color: #343A40;
  background-color: #F8F9FA;
  align-self: flex-end;
  position: absolute;
  top: 60px;
  right: 60px;
  border-radius: 100px;
  border-style: none;
  height: 43px;
  width: 43px;
  font-weight: 650;
  font-size: 30px;
}

.exit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.exit:active {
  opacity: 0.5;
}

.timer-display {
  display: flex;
  justify-content: center;
}

.digit {
  color: #F8F9FA;
  font-weight: 600;
  font-size: 140px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}

#start {
  color: #F8F9FA;
  border-radius: 18px;
  height: 40px;
  width: 110px;
  background-color: #212529;
  border-style: none;
  font-weight: 600;
  font-size: 21px;
}

#start:hover {
  opacity: 0.7;
  cursor: pointer;
}

#start:active {
  opacity: 0.5
}

#pause {
  color: #F8F9FA;
  border-radius: 18px;
  height: 40px;
  width: 120px;
  background-color: #212529;
  border-style: none;
  font-weight: 600;
  font-size: 21px;
}

#pause:hover {
  opacity: 0.7;
  cursor: pointer;
}

#pause:active {
  opacity: 0.5
}

#finish {
  color: #F8F9FA;
  border-radius: 18px;
  height: 40px;
  width: 190px;
  background-color: #212529;
  border-style: none;
  font-weight: 600;
  font-size: 21px;
}

#finish:hover {
  opacity: 0.7;
  cursor: pointer;
}

#finish:active {
  opacity: 0.5
}